:root {
    --primary-color: #74ebd5;
    --secondary-color: #acb6e5;
    --background-color: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    --text-color: #333;
    --subtext-color: #666;
    --card-background: white;
    --border-color: var(--primary-color);
    --box-shadow: rgba(0, 0, 0, 0.2);
    --info-background: #f6f6f6;
    --link-color: #0077b5;
}

body {
    font-family: 'Arial', sans-serif;
    background: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--card-background);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px var(--box-shadow);
    max-width: 700px;
    animation: fadeIn 1.5s ease-in-out;
}

.info-text {
    text-align: center;
}

.card img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid var(--border-color);
    margin-bottom: 15px;
}

h1 {
    font-size: 28px;
    margin-bottom: 5px;
    color: var(--text-color);
}

h2 {
    font-size: 22px;
    color: var(--subtext-color);
}

h3 {
    margin-top: 10px;
    color: var(--subtext-color);
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: var(--text-color);
}

.info {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: var(--info-background);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 18px;
    margin: 5px 0;
    color: var(--text-color);
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 18px;
    color: var(--link-color);
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}